.cache/
.config/configstore/
.config/scoop/
.config/tools/
.electron-gyp/
.gitconfig
.gitmoji/
.npmrc
.yarnrc
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
node_modules/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
package-lock.json
package.json
scoop/
